.couponSection {
    border: 1px solid #A1A1A1;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}
.couponSection input{
    padding: 19px 25px;
    padding-right: 80px;
font-family: "Assistant", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
color: #1E1E1E;
border: 0;
width: 100%;

}
.couponSection button{
    background-color: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
font-family: "Assistant", sans-serif;
font-size: 16px;
font-weight: 600;
line-height:1.2;
text-align: right;
    color: #EC0902;
}
.checkoutListWrap{
    margin: 0 -40px;
}
.checkoutListWrap .cardTitelvalue{
    padding: 30px 40px;
}
.checkoutListWrap .procuct_sectionList{
  

}
.checkoutListWrap .procuct_sectionList{
margin-bottom: 30px;

}
.checkoutListWrap .procuct_sectionList .ech_listCard{
  position: relative;  
  border-bottom: 1px solid #E9E1D4;

  padding: 29px 39px 29px 40px;

}
.checkoutListWrap .procuct_sectionList .ech_listCard:first-child{
  border-top: 1px solid #E9E1D4;

}
.checkoutListWrap .procuct_sectionList .ech_listCard button{
position: absolute;
top: 13px;
right: 15px;
font-family: "Assistant", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 1.2;
color: #1E1E1E;
text-decoration: underline;
background-color: transparent;
outline: 0;
border: 0;
}
.paymentmainWrapouter{
    padding: 50px 0;
}

.paymentWrapper {
    padding: 16px 0 0 0;
}
.paymentWrapper .paymetDetails{
}
.paymentWrapper  h2{
font-size: 20px;
font-weight: 500;
line-height: 55px;
color: #1E1E1E;
line-height: 1.2;
margin: 0;
}
.paymentWrapper .paymetDetails .descriptiontext{
    margin:23px 0 40px;
font-size: 18px;
font-weight: 400;
line-height: 1.5;

}
.paymentWrapper .paymetDetails .paymetmethodeList{
    margin: -12px;
}
.paymentWrapper .paymetDetails .paymetmethodeList .paymetoption{
    width:100%;
    min-width: auto;
    max-width: 225px;
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: center;
    border: 1px solid #E9E1D4;
    border-radius: 5px;
    margin: 12px;
    padding: 10px;

}
.paymentWrapper .paymetDetails .paymetmethodeList .paymetoption p{
    margin: 0;
font-size: 13px;
font-weight: 600;
line-height:1.2;
color: #361B64;
}
.paymentWrapper .paymetDetails .paymetmethodeList .paymetoption p span{
    display: inline-block;
    margin-right: 7px;
}
.paymentWrapper .noteWrap .noteText{
font-size: 13px;
}
.cardSectionDetailsWrap{
    padding-top: 50px;
}
.cardSectionDetailsWrap h2{
    margin-bottom: 40px;
}
.cardDetailsWrapper .cardStayle{
    border: 1px solid #A1A1A1;
    border-radius: 5px;
    padding: 17px 20px;
    
}
.cardDetailsWrapper .cardStayle .cardvalue{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardDetailsWrapper .cardStayle .cardvalue p{
font-family: "Assistant", sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.035em;
text-align: left;
color: #1E1E1E;
margin-bottom: 16px;
}
.cardDetailsWrapper .cardStayle .cardnumber{
font-size: 22px;
font-family: "Assistant", sans-serif;
font-weight: 600;
line-height:1.2;
color: #1E1E1E;
margin-bottom: 30px;
}
.cardDetailsWrapper .cardStayle .expire_date{
    margin: 0;
    font-size: 22px;
font-family: "Assistant", sans-serif;
font-weight: 600;
line-height:1.2;
color: #1E1E1E;
}
.cardDetailsWrapper .cardStayle .selectedSection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.checkicon{
    color: #A1A1A1;
    background-color: rgba(161, 161, 161, .16);
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    }
