@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.productdetailsmain {
  padding: 71px 0 0px 0;
}
.productdetailsmain .product_lft {
  width: 100%;
}
.productdetailsmain .product_lft figure {
  line-height: 0;
  font-size: 0;
  width: 100%;
  margin: 0;
  height: 914px;
  border-radius: 5px;
  overflow: hidden;
}
.productdetailsmain .product_lft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productdetailsmain .smallimgWrap .smallimg {
  height: 112px;
  margin: 0;
  line-height: 0;
  font-size: 0;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.productdetailsmain .smallimgWrap .smallimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_left {
}
.product_left .chip_primary {
  width: max-content;
  background-color: #f19934;
  padding: 17px 29px;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
.product_left .product_detailsSegment {
  padding: 18px 0 25px 0;
}
.product_left .product_detailsSegment h2 {
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-align: left;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.product_left .product_detailsSegment .reviewSegment .review {
  padding: 0;
  display: flex;
  margin: 0 15px 0 0;
  align-items: center;
}
.product_left .product_detailsSegment .reviewSegment .review li {
  width: auto;
  margin-right: 3px;
}
.product_left .product_detailsSegment .reviewSegment .review li:last-child {
  margin-right: 0;
}
.product_left .product_detailsSegment .reviewSegment .reviewText {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #7a7a7a;
  margin: 0;
}
.product_left .product_detailsSegment .description {
  padding: 14px 0;
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  color: #1e1e1e;
  max-width: 642px;
  margin-bottom: 0;
}
.product_left .product_detailsSegment .priceSegment {
  display: flex;
  align-items: flex-end;
}
.product_left .product_detailsSegment .priceSegment p {
  margin: 0px;
  padding-right: 12px;
}
.product_left .product_detailsSegment .priceSegment p:last-child {
  padding-right: 0;
}
.product_left .product_detailsSegment .priceSegment p.currentprice {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: #1e1e1e;
}
.product_left .product_detailsSegment .priceSegment p.mainprice {
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #1e1e1e;
  text-decoration: line-through;
}
.product_left .product_detailsSegment .priceSegment .discountText {
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #77aa77aa;
}
.product_left .product_mainWrap {
  border: 1px solid #e9e1d4;
  border-right: 0;
  border-left: 0;
  padding: 23px 0;
}
.product_left .productwrap_text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -12px;
}
.product_left .productwrap_text .ech_segmenttext {
  width: 50%;
  flex-basis: 50%;
  padding: 12px;
}
.product_left .productwrap_text .ech_segmenttext .text_section {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.93px;
  color: #1e1e1e;
  margin-bottom: 0;
  margin-right: 13px;
}
.product_left .productwrap_text .ech_segmenttext .product_chip {
  display: flex;
  align-items: center;
  padding: 9px 6px;
  height: 28px;
  background-color: #f1efed;
  justify-content: center;
  font-family: "Assistant", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}
.product_left .productSizeWrap {
  padding: 29px 0;
  border-bottom: 1px solid #e9e1d4;
  margin-bottom: 29px;
}
.product_left .productSizeWrap .sizeTitleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.product_left .productSizeWrap .sizeTitleSection .sizeTitle {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  text-transform: uppercase;
}
.product_left .productSizeWrap .sizeTitleSection button {
  padding: 0;
  border: 0;
  text-decoration: underline;
  color: #361b64;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.product_left .productSizeWrap .sizeTitleSection button:hover {
  background-color: transparent;
  color: #e70a04;
}
.productSizeWrap .sizeSectionWrap {
  display: flex;
  align-items: center;
  margin: -6px;
  flex-wrap: wrap;
}
.productSizeWrap .sizeSectionWrap .ech_size {
  width: 53px;
  height: 53px;
  min-width: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.14px solid #d9d9d9;
  font-family: "Assistant", sans-serif;
  font-size: 21.36px;
  font-weight: 400;
  line-height: 1.3;
  border-radius: 100%;
  background-color: #fff;
  margin: 6px;
  color: #b9b9b9;
  cursor: pointer;
}
.productSizeWrap .sizeSectionWrap .ech_size.active {
  background-color: #361b64;
  color: #ffffff;
}
.productSizeWrap .sizeSectionWrap .ech_size.disable {
  background-color: #ebebeb;
}
.product_left .product_sectioncolor .text_titleText {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  text-transform: uppercase;
}
.product_left .product_sectioncolor .chosecolorWrap {
  display: flex;
  align-content: center;
  padding: 5px 0 45px 0;
  margin: -6px;
}
.product_left .product_sectioncolor .chosecolorWrap .colorsectionEch {
  border: 2.14px solid #d6ddda;
  min-width: 53px;
  height: 53px;
  width: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 6px;
  cursor: pointer;
}
.product_left .product_sectioncolor .chosecolorWrap .colorsectionEch.active {
  border: 2.14px solid #1e1e1e;
}
.product_left .product_sectioncolor .buttonsectionwrap {
  padding-bottom: 55px;
  justify-content: space-between;
  width: 100%;
}

.product_left .product_sectioncolor .buttonsectionwrap .countbtn {
  border: 1px solid #8f8f8f;
  padding: 16px;
  width: 152px;
  justify-content: space-between;
  border-radius: 80px;
  margin: 0 -12px;
}
.product_left .product_sectioncolor .buttonsectionwrap .countbtn button {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.78px;
  text-align: center;
  color: #1e1e1e;
  padding: 0 12px;
  background-color: transparent;
  border: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.product_left .product_sectioncolor .buttonsectionwrap .countbtn button:hover {
  color: #e70a04;
}
.product_left .product_sectioncolor .buttonsectionwrap .countbtn button:first-child {
  border-right: 1px solid #8f8f8f;
}
.product_left .product_sectioncolor .buttonsectionwrap .countbtn button:last-child {
  border-left: 1px solid #8f8f8f;
}
.product_left .product_sectioncolor .buttonsectionwrap .countbtn p {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.78px;
  text-align: center;
  color: #1e1e1e;
  margin: 0;
}
.product_sectioncolor .buttonsectionwrap .cart_sectionWrap {
  width: calc(100% - 172px);
  justify-content: space-between;
}
.product_sectioncolor .buttonsectionwrap .cart_sectionWrap .btn_ech {
  max-width: calc(50% - 20px);
  width: 100%;
  height: 100%;
}

.product_sectioncolor .buttonsectionwrap .cart_sectionWrap .btn_ech button {
  height: 100%;
  width: 100%;
  min-height: 67px;
  border-radius: 80px;
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.78px;
  text-align: center;
}
.product_sectioncolor .buttonsectionwrap .cart_sectionWrap .btn_ech button.outlinemainbtn {
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  background-color: transparent;
}
.product_sectioncolor .buttonsectionwrap .cart_sectionWrap .btn_ech button.outlinemainbtn:hover {
  background: #e7b51d;
  border-color: #e7b51d;
}

.product_sectioncolor .offer_textWrap {
  justify-content: space-between;
  margin-bottom: 40px;
}
.product_sectioncolor .offer_textWrap .offerText {
  margin: 0;
}
.product_sectioncolor .offer_textWrap .offerText span {
  display: inline-block;
  margin-right: 16px;
}
.product_sectioncolor .offer_textWrap figure {
  margin: 0;
}
.product_sectioncolor .offer_textWrap figure img {
  width: 100%;
  height: 100%;
}
.product_sectioncolor .avaibilitycheck .lebelText {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px;
}
.serchsection {
  position: relative;
}
.serchsection input {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  padding: 21px 24px;
  padding-right: 100px;
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #000;
  width: 100%;
}
.serchsection input::placeholder {
  color: #9c9c9c;
}
.serchsection button {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  outline: 0;
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
}
.serchsection button:hover {
  color: #f78013;
}
.product_detailsWrap {
  margin-top: 90px;
}
.product_detailsWrap .descriptionSectionWrap {
  margin-bottom: 60px;
}
.product_detailsWrap .descriptionSectionWrap .title_text {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: #1e1e1e;
  position: relative;
  z-index: 3;
  margin-bottom: 30px;
  padding-right: 56px;
  background-color: #fff;
}
.product_detailsWrap .descriptionSectionWrap .title_text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 1px;
  background-color: #f1f1f1;
}

.product_detailsWrap .descriptionSectionWrap .descriptionText {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #1e1e1e;
}
.reviewsectionList .reviwtitle_text {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 50px;
}
.reviewSectionouterWrp {
  display: flex;
  align-items: flex-start;
  margin-right: 50px;
}
.reviewsectionList .reviewSectionouterWrp .reviewvalue {
  display: flex;
  align-items: flex-start;
  font-family: "Assistant", sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 0.8;
  text-align: left;
  color: #f19934;
  margin: 0 9px 0 0;
}
.reviewsectionList .reviewSectionouterWrp .reviewvalue span {
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.043em;
  color: #29364e;
}
.total_review {
  color: #8f8f8f;
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
}
.total_review p {
  margin-top: 3px;
}
.reviewsectionmainWrapMain {
  max-width: 900px;
  margin: -4px -15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reviewmainWrap {
  display: flex;
}
.reviewmainDiv {
  max-width: calc(100% / 3);
  width: 100%;
  padding: 4px 15px;
}
.reviewmainWrap .reviewsection {
  width: 100%;
  display: flex;
  align-items: center;
}
.reviewmainWrap .reviewsection .reviewtext {
  margin-right: 7px;
  display: flex;
  align-items: center;
}
.reviewmainWrap .reviewsection .reviewtext p {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.54px;
  color: #707070;
  margin-right: 5px;
  margin-bottom: 0;
}
.reviewsection .sliderReviewSection {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
}
.reviewsection .sliderReviewSection .sliderRange p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.93px;
  text-align: left;
  color: #707070;
  margin-left: 15px;
}
.sliderReviewSection p {
  margin: 0 0 0 15px;
}

.sliderReviewSection .progress {
  min-width: calc(100% - 30px);
  border-radius: 10px;
  background-color: #e7e7e7;
  position: relative;
  height: 8px;
}
.sliderReviewSection .progress-bar{
background-color: #F19934 !important;
border-radius: 10px;
}

.reviewlistview {
  margin: -10px 0;
}
.reviewlistview .reviewtestimonial {
  margin: 10px 0;
  padding: 35px 50px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}
.reviewlistview .reviewtestimonial .titel_review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviewlistview .reviewtestimonial .titel_review .titleText_value {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: #1e1e1e;
  margin: 0;
}
.reviewlistview .reviewtestimonial .titel_review .datevalue {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #7a7a7a;
  margin: 0;

}
.reviewlistview .reviewtestimonial .testimonialreviewText {
  padding: 23px 0 38px;
  font-family: "Assistant", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
.reviewlistview .reviewtestimonial .reviewlist p {
  font-family: "Assistant", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: #1E1E1E;
  margin: 0 20px 0 0;
}

